/* Estilos para el Trabajo Práctico */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

/* Utilities */
@import "./parciales/utilities/maps";
/*  INICIALIZACION */
@import './parciales/base/reset';

/* Clases */
/* NavBar */
.menu-propio {
    color: brown;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.item-menu:hover {
    color: red;
    font-size: map-get($font-medidas , m);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* Imagenes y texto del Home */
.galeria-ppal {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 250px;
    padding: 120px 30px 20px 60px;
    align-items: center;
    grid-gap: 30px;
    grid-template-areas: 
    "historia nuestros-vinos"
    "accesorios contacto";
}
.background-img-home {
    background-image: url("../imagenes/Vinedos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.galeria-item {
    position: relative;
    &:hover {
        transform: scale(1.15);
    }
}

.galeria-img {
    width: 80%;
    height: 300px;
    padding: 20px;
    border: 1px solid black;
}

.galeria-titulo {
    width: 100%;
    height: 100px;
    align-items: center;
    color: red;
    font-weight: bold;
}

/* Asignación de áreas del grid del Home*/
.historia {
    grid-area: historia;
}
.nuestros-vinos {
    grid-area: nuestros-vinos;
}
.accesorios {
    grid-area: accesorios;
}
.contacto {
    grid-area: contacto;
}
/* FIN Imagenes y texto del Home */

/* Estilos para el NavBar */
.encabezado-menu {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* Estilo del "Bienvenidos" del Index*/
.centrado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

/* Quienes somos */
.nosotros {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px 10px 10px;
    align-items: center;

    p {
        display: inline-block;
        font-family: whisper;
        font-size: map-get($font-medidas , xl);
    }
}

/* Grilla de Vinos y Accesorios */
/* Vinos Tipos */
.card-container-vino {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 50px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-tipo-vino {
    border-radius: 50%;
    width: 100%;
    border: solid 1px black;
}
.tipo-vino {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: bold;
    font-size: map-get($font-medidas , xl);
    padding: 10px;
}

/* Vinos Detalle */
.card-item-vino {
    width: 100%;
    max-width: 100%;
    margin: 5px;
    display: grid;
    grid-template-columns: 200px 650px 200px 100px;
    grid-template-rows: 250px;
    padding: 10px;
    align-items: center;
    grid-gap: 10px;
    grid-template-areas: 
    "marca-producto descripcion-producto img-producto precio-producto"
}
.marca-producto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: bold;
    font-size: map-get($font-medidas , l);
    padding: 10px;
    grid-area: marca-producto;
}
.descripcion-producto {
    font-family: whisper;
    font-size: map-get($font-medidas , l);
    grid-area: descripcion-producto;
    &:hover {
        transform: scale(1.2);
        font-weight: 600;
    }
}
.img-producto {
    width: 100%;
    grid-area: img-producto;
    align-content: center;
    &:hover {
        transform: scale(1.5);
    }
}
.precio-producto {
    font-size: map-get($font-medidas , l);
    font-weight: bold;
    align-content: center;        
    grid-area: precio-producto;
    &:hover {
        transform: scale(1.2);
    }
}

/* ACCESORIOS */
.card-container-accesorios {
    @extend .card-container-vino;
}
.card-item-accesorio {
    @extend .card-item-vino;
    grid-template-columns: 200px 300px 300px 200px;
}
.tipo-accesorio {
    @extend .tipo-vino;
}
.img-tipo-accesorio {
    @extend .img-tipo-vino;
}
.descripcion-accesorio {
    font-size: map-get($font-medidas , xl);
}

/* ESTILOS FOOTER */
.footer-h4 {
    font-size: map-get($font-medidas , s);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-h5 {
    font-size: map-get($font-medidas , xs);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Grilla del Footer */
.pie-grid-container {
    background-color: bisque;
    color: brown;
    display: grid;
    border: 1px solid black;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(3, 30px);
    grid-template-areas: 
        "empresa copy-right"
        "celular celular"
        "mail mail"
}
.empresa {
    grid-area: empresa;
}
.copy-right {
    grid-area: copy-right;
}
.celular {
    grid-area: celular;
}
.mail {
    grid-area: mail;
}

/* FORMULARIO DE CONTACTO */
.form-registro {
    width: 400px;
    background: #c05c1a;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 7px 13px 37px #000;

    h4 {
        font-size: map-get($font-medidas , m);
        margin-bottom: 20px;
        color: white;
    }

    p {
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
        height: 40px;
        text-align: center;
        font-size: map-get($font-medidas , s);
        line-height: 40px;
     }
     
     a {
        color: white;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }    
    }

    .boton {
        width: 100%;
        background: #470303;;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }

    .datos {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(119, 126, 228);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        color: white;
    }
}
/* FIN FORMULARIO */ 

/* MEDIA */
@media (max-width: 1600px) {
    /* Vinos */
    .galeria-img {
        width: 80%;
        height: 300px;
        grid-template-columns: repeat(2,auto);
    }
    .card-container-vino {
        width: 100%;
        padding: 30px 10px 10px 10px;
    }
    .card-item-vino {
        width: 100%;
        margin: 10px;
        grid-template-columns: 20% 60% 10% 10%;
        grid-template-rows: auto;
        padding: 5px;
        grid-gap: 2px;
    }
    .marca-producto {
        font-weight: bold;
        font-size: map-get($font-medidas , xl);
        padding: 10px;
    }
    .descripcion-producto {
        font-size: 28px;
        padding: 10px;
    }
    .img-producto {
        width: 100%;
    }
    .precio-producto {
        font-size: map-get($font-medidas , xl);
    }
}

@media (max-width: 1200px) {
    /* Bienvenida */
    h2 {
        font-size: map-get($font-medidas , xxl);
    }
    h3 {
        font-size: map-get($font-medidas , xl);
        align-self: auto;
    }
    .galeria-img {
        width: 300px;
        height: 300px;
        grid-template-columns: repeat(2,auto);
    }
    /* Vinos */
    .card-item-vino {
        width: 100%;
        margin: 10px;
        grid-template-columns: 15% 50% 25% 10%;
        grid-template-rows: auto;
        padding: 5px;
        grid-gap: 2px;
    }
    .marca-producto {
        font-weight: bold;
        font-size: 28px;
        padding: 10px;
    }
    .descripcion-producto {
        font-size: 26px;
        padding: 10px;
    }
    .img-producto {
        width: 100%;
    }
    .precio-producto {
        font-size: 28px;
    }
    /* Accesorios */
    .card-item-accesorio {
        width: 100%;
        margin: 10px;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: auto;
        padding: 5px;
        grid-gap: 2px;
    }
    .descripcion-accesorio {
        font-size: map-get($font-medidas , xl);
        padding: 10px;
    }
}

@media (max-width: 960px) {
    /* Bienvenida */
    h2 {
        font-size: map-get($font-medidas , xl);
    }
    h3 {
        font-size: 22px;
        align-self: auto;
    }

    /* Imagenes Home */
    .galeria-ppal {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "historia" 
        "nuestros-vinos"
        "accesorios" 
        "contacto";
    }
    .galeria-img {
        width: 300px;
        height: 300px;
        grid-template-columns: repeat(1,fr);
    } 
}

@media (max-width: 800px) {
    /* Bienvenida */
    h2 {
        font-size: map-get($font-medidas , xl);
    }
    h3 {
        font-size: 22px;
        align-self: auto;
    }
    /* Nosotros */
    .nosotros {
        flex-direction: column;
        p {
            font-size: map-get($font-medidas , l);
        }
    }
    /* Vinos */
    .card-container-vino {
        margin: 1px;
        padding: 5px;
    }
    .card-item-vino {
        margin: 5px;
        grid-template-columns: 30% 70% 30% 70%;
        // grid-template-rows: 200px;
        grid-template-rows: auto;
        grid-template-areas: 
        "marca-producto descripcion-producto" 
        "img-producto precio-producto";
        border: solid 1px black;
    }
    .img-tipo-vino {
        width: 10%;
    }
    .tipo-vino {
        font-size: map-get($font-medidas , m);
        padding: 10px;
    }
    .marca-producto {
        font-size: map-get($font-medidas , m);
    }
    .descripcion-producto {
        font-size: 12px;
    }
    .img-producto {
        width: 60%;
    }
    .precio-producto {
        padding: 10px;
        font-size: 18px;
    }
    .descripcion-producto {
        font-size: map-get($font-medidas , m);
    }
    .card-item-accesorio {
        margin: 5px;
        grid-template-columns: 50% 50%;
        border: solid 1px black;
        grid-template-rows: 150px;
        grid-template-areas:
        "marca-producto descripcion-producto" 
        "img-producto precio-producto";
    }
    .descripcion-accesorio {
        font-size: map-get($font-medidas , l);
    }
    .pie-grid-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "empresa"
            "celular"
            "mail"
            "copy-right";
    }
}

@media (max-width: 500px) {
    .galeria-ppal {
        margin: 5px;
        grid-template-columns: 100%;
        grid-template-columns: repeat (1, 1fr);
        grid-template-rows: auto;
        padding: 20px 30px 20px .30px;
        grid-gap: 5px;
        grid-template-areas: 
        "historia"
        "nuestros-vinos"
        "accesorios"
        "contacto";    
    }
    .galeria-img {
       grid-template-columns: repeat(1,fr);
    }










    /* Nosotros */
    .nosotros p{
        font-size: map-get($font-medidas , m);
    }
    /* Vinos */
    .card-container-vino {
        margin: 10px;
        padding: 10px;
    }
    .card-item-vino {
        width: 100%;
        margin: 5px;
        border: solid 1px black;
        grid-template-columns: 25% 75% 25% 75%;
        grid-template-rows: auto;
        grid-template-areas: 
        "marca-producto descripcion-producto" 
        "img-producto precio-producto";
    }
    .img-tipo-vino {
        width: auto;
    }
    .tipo-vino {
        font-size: map-get($font-medidas , m);    }
    .marca-producto {
        font-size: 18px;
    }
    .descripcion-producto {
        font-size: 16px;
    }
    .img-producto {
        width: 50%;
    }
    .precio-producto {
        padding: 10px;
        font-size: 18px;
    }
    .descripcion-producto {
        font-size: map-get($font-medidas , m);
    }
    .card-item-accesorio {
        // margin: 5px;
        border: solid 1px black;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "marca-producto descripcion-producto" 
        "img-producto precio-producto";
        }
    .pie-grid-container {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "empresa"
            "celular"
            "mail"
            "copy-right";
    }
}
