/* Media */
@media (max-width: 900px) {
    /* Bienvenida */
    h2 {
        font-size: map-get($font-medidas , xl);
    }
    h3 {
        font-size: 22px;
        align-self: auto;
    }

    /* Imagenes Home */
    .galeria-ppal {
        width: auto;
        margin: 5px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4,300px);
        grid-template-areas:
        "historia"
        "nuestros-vinos"
        "accesorios"
        "contacto";
    }
    .galeria-img {
        width: 300px;
        height: 300px;
        // grid-template-columns: repeat(1,fr);
    }
}