/* INICIALIZACION */
* {
    margin: 0;
    padding: 0;
}
/* Estilo del "Bienvenidos" del Index*/
h1 {
    background-color: antiquewhite;
    font-size: map-get($font-medidas , xxxl);
    font-family: whisper;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    color: red;
}
h2 {
    display: inline-block;
    font-family: Ephesis, 'Arial Narrow', Arial, sans-serif;
    font-size: map-get($font-medidas , xl);
    color: black;
    font-weight:500;
    padding-left: 10px;
    padding-right: 10px;
}
h3 {
    display: inline-block;
    font-family: Ephesis, 'Arial Narrow', Arial, sans-serif;
    font-size: map-get($font-medidas , l);
    color: black;
    font-weight:500;
}
p {
    font-family:whisper;
}