/* INICIALIZACION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    background-color: antiquewhite;
    color: red;
    font-size: map-get($font-medidas , xxl);
    font-family: whisper;
    font-weight: bold;
}
h2 {
    display: inline-block;
    font-family: Ephesis, 'Arial Narrow', Arial, sans-serif;
    font-size: map-get($font-medidas , xl);
    color: black;
    font-weight:500;
}
h3 {
    display: inline-block;
    font-family: Ephesis, 'Arial Narrow', Arial, sans-serif;
    font-size: map-get($font-medidas , l);
    color: black;
    font-weight:500;
}
p {
    font-family:whisper;
}