/* Grilla de Vinos y Accesorios */
/* Vinos Tipos */
.card-container-vino {
    width: 50%;
    max-width: 50%;
    margin-top: 30px;
    margin-left: 50px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-tipo-vino {
    border-radius: 50%;
    width: 100%;
    border: solid 1px black;
}
.tipo-vino {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: bold;
    font-size: map-get($font-medidas , xl);
    padding: 10px;
}

/* Vinos Detalle */
.card-item-vino {
    width: 80%;
    max-width: 80%;
    margin: 5px;
    display: grid;
    grid-template-columns: 200px 650px 200px 100px;
    grid-template-rows: 250px;
    padding: 10px;
    align-items: center;
    grid-gap: 10px;
    grid-template-areas: 
    "marca-producto descripcion-producto img-producto precio-producto"
}
.marca-producto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-weight: bold;
    font-size: map-get($font-medidas , l);
    padding: 10px;
    grid-area: marca-producto;
}
.descripcion-producto {
    font-family: whisper;
    font-size: map-get($font-medidas , l);
    grid-area: descripcion-producto;
    &:hover {
        transform: scale(1.2);
        font-weight: 600;
    }
}
.img-producto {
    width: 80%;
    grid-area: img-producto;
    align-content: center;
    &:hover {
        transform: scale(1.5);
    }
}
.precio-producto {
    font-family: whisper;
    font-size: map-get($font-medidas , xl);
    font-weight: bold;
    align-content: flex-end;        
    grid-area: precio-producto;
    &:hover {
        transform: scale(1.2);
    }
}
